In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, accuracy_score
from sklearn.naive_bayes import  MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [2]:
df = pd.read_csv(r"E:\MSC 4\MLOps\Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
labelencoder_geography = LabelEncoder()
labelencoder_gender = LabelEncoder()

df['Geography'] = labelencoder_geography.fit_transform(df['Geography'])
df['Gender'] = labelencoder_gender.fit_transform(df['Gender'])

In [5]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [6]:
X = df.drop(columns=["Exited"])
Y = df['Exited']

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 42)

In [8]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(8000, 10) (2000, 10) (8000,) (2000,)

In [9]:
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

Model 1 : Logistic Regression as classifier

In [19]:
model1 = LogisticRegression()

model1.fit(X_train, Y_train)

Y_pred = model1.predict(X_test)
acc = accuracy_score(Y_test, Y_pred)

print(f"LogisticRegression has accuracy: {acc}")

LogisticRegression has accuracy: 0.8155

Model 2 :